<!doctype html>
<html>
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">      

      <link rel="stylesheet" href="{{url_for('static', filename='style/legacy_map_view.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='style/universal.css')}}">

      <script src="{{url_for('static', filename='lib/ee_api.js')}}"></script>
      <script src="{{url_for('static', filename='map/map.js')}}"></script>

      <script>
        function initMap() {
          initialize_map('{{ mapid }}', '{{ token }}');
        };
      </script>

      <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&callback=initMap" async="true" defer></script>
    </head>
    <body>
        <header id="header">
          <h1>Where the Grass Grows Greener</h1>
          <h2>Legacy View</h2>
        </header>
        <div id="content">
          <section id="map"></section>
          <section id="sidebar">
            <p>test</p>
          </section>
        </div>
    </body>
</html>
